.guided-section{
        /* background-image: url('/Landing page.png'); */
        /* background-color: #B3D3D5; */
        padding-top:100px;
}
.step-text{
    font-family: 'Montserrat', sans-serif !important;
    color: #074347;
    font-weight: 650;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;

}
.step-circle{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Media Queries */
@media (max-width: 768px) {
  .step-text{
    font-size: 16px;
  }
}