.guided-section{
        /* background-image: url('/Landing page.png'); */
        /* background-color: #B3D3D5; */
        padding-top:100px;
}
.step-text{
    font-family: 'Montserrat', sans-serif !important;
    color: #074347;
    font-weight: 650;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;

}
.custom-text-color-green {
    color: #141414 !important;
    font-size: 40px;
    font-weight: 500 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.custom-text-color-green-small {
   font-size: 16px;
    color: #0D0C10 !important;
  font-family: 'Montserrat', sans-serif !important;
}


/* Media Queries */
@media (max-width: 768px) {
  
.custom-text-color-green{
    font-size: 30px;
    font-weight: 400;
}

}