.connectSection {
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif !important;
  padding: 40px 20px;
  /* text-align: center; */
}
.cutomButtonOrange{
      background-color: #FD661F !important;
  color: #ffffff !important;
  border: none;
    border-radius: 30px;
    padding: 0.6rem 3rem !important;
  font-family: 'Montserrat', sans-serif !important;

}

.right-imges{
    position: relative;
}
.custom-white-container{
    background-color: white;
    height: 350px;
    width: 450px;
    position: absolute;
    top:-20px;
    right:20px;
    border-radius: 10px;
}
.ImageOne{
    position: absolute;
    top: -50px;
    right: 0;
}
.ImageTwo{
    position: absolute;
    top:180px; 
    left:-20px
}




/* Media Queries */
@media (max-width: 768px) {
  .connectSection {
    padding: 20px;
  }
.custom-white-container{
    width: 90%;
    position:static;
    height: 500px;
    margin-left: 20px;

}
  .ImageOne{
    position: absolute;
    top: 30px;
    left: 35px; 
}
.ImageTwo{
    position: absolute;
    top:260px; 
    left: 35px; 
}
}
