.syllabusSection {
  padding: 40px 0;
  background-color: white;
}

.heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: #085459; /* Dark teal */
  line-height: 1.3;
  font-family: 'Montserrat', sans-serif !important;

}

.subText {
  font-size: 1rem;
  color: #074347;
  /* margin-top: 10px; */
  font-family: 'Montserrat', sans-serif !important;
}

.title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #074347;
  margin: 0;
}

.desc {
  font-size: 1rem;
  color: #5a6f75;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;

}

/* Mobile adjustments */
@media (max-width: 768px) {

  .heading {
    font-size: 2rem;
    text-align: center;
  }
  .subText {
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }
  .title {
    font-size: 1.5rem;
    padding-left: 15px;
  }
  .desc {
    font-size: 0.85rem;
    padding-left: 15px

  }
}
