/* /Card.module.css */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  /* max-width: 300px; */
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.customCard {
    max-width: 638px;
    background-color: #0B7077;
    border: none;
    border-radius: 15px;
}

.card-title {
    font-size: 36px;
    color: white;
    font-family: var(--bs-body-font-family);
}

.custom_orange_button_card {
    background-color: #FD661F;
    color: white;
    width: 130px;
    border-radius: 100px;
    padding: 16px;
    text-align: center;
    border: 0;
    font-family: var(--bs-body-font-family);
    transition: all 0.3s ease;
}

.custom_orange_button_card:hover {
    background-color: #e55b1a;
}

.customCardImage {
    width: 268px;
    height: 200px;
    object-fit: contain;
}

@media (min-width: 768px) and (max-width: 1024px) {

}


@media (max-width: 768px) {
    .card-title {
        font-size: 24px;
    }
    
    .customCardImage {
        width: 200px;
        height: 150px;
    }
}