.customContainer {
    background-image: url('/Landing page.png');
    padding-top: 180px;
    padding-bottom: 80px;
}

.customContainer h2 {
    font-size: 56px;
    color: #085459;
    margin-bottom: 48px;
    font-family: 'Montserrat', sans-serif;

}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (max-width: 768px) {
    .customContainer {
        padding-top: 100px;
        padding-bottom: 40px;
    }

    .customContainer h2 {
        font-size: 32px;
    }
}