.connectSection {
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif !important;
  padding: 40px;
  /* text-align: center; */
}

.connectTitle {
  font-size: 40px;
  color: #085459;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
}

.connectHighlight {
  color: #FD661F;
}

.connectText {
  font-size: 16px;
  color: #1E1E1E;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif !important;
}
.cutomButtonOrange{
      background-color: #FD661F !important;
  color: white !important;
  border: none;
    border-radius: 30px;
    padding: 0.6rem 1.4rem;
  font-family: 'Montserrat', sans-serif !important;

}

/* Media Queries */
@media (max-width: 768px) {
  .connectTitle {
    font-size: 32px;
  }

  .connectText {
    font-size: 16px;
  }

  .connectSection {
    padding: 20px;
  }
}
