.custom-svg-placement {
    width: 53px;
    height: 53px;
    background-color: #0b6b6b;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.custom-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    width: 240px;
    font-weight: 550;
    color: #074347;
    text-align: center;
}


/* ---------- Mobile (Vertical) ---------- */
@media (max-width: 768px) {

    
}