.custom-card{
    width: 270px;
    min-height: 256px !important; 
    position: relative;
     /* display: flex !important; */
  /* flex-direction: column !important; */
  /* justify-content: flex-end !important; */
    /* padding-top: 140px !important; */
}

.custom-image{
    width: 170px;
    height: 171px;
    border-radius: 8px;
    position: absolute;
    top: -40px;
    left: 50px;
    /* transform: translateX(-50%); */
}

.alumniName{
    color: #181817 !important;
    font-size: 23px !important;
  font-family: 'Montserrat', sans-serif !important;
font-weight: 700 !important;
padding-top: 10px !important;
}
.alumniDesignation{
    color: #323232 !important;
  font-family: 'Montserrat', sans-serif !important;

}
.aumniCompany{
    width: 192px;
    height: 18px;
}