.intership-section {
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;

}

.intership-title {
  font-size: 40px;
  color: #0b4b4b;
  font-family: 'Montserrat', sans-serif;
}

.intership-highlight {
  color: #FD661F; 
}
.btn-connect {
  background-color: #FD661F;
  color: #fff;
  border-radius: 25px;
  padding: 10px 25px;
  font-weight: 600;
  border: none;
}

.btn-connect:hover {
  background-color: #ff5202;
  color: white;
}

/* common in all component  */
.custom-text-color-green {
    color: #0b6b6b;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.custom-text-color-green-small {
    color: #0b6b6b;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* eligibility  */

.custom-eligibily-button {
  background-color: #B3D3D5; 
  color: #0B7077; 
  width: 250px;
  padding: 15px 10px;
  border-radius: 30px; 
  border: none;
  font-family: 'Arial', sans-serif; 
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 10px 0px -2px #0B7077; 
  transition: all 0.3s ease; 
  outline: none; 
}

/* .custom-eligibily-button:hover {
  background-color: #87c3c3; 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); 
  transform: translateY(-2px); 
} */

.custom-eligibily-button:active {
  transform: translateY(0); 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15); 
}

/* Program highlight  */

.custom-card-program {
  background-color: #E7F1F1 !important;
    font-family: 'Montserrat', sans-serif;

}

.custom-heading {
  color: #0B7077 !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}

.custom-paragraph{
  color: #0B7077;
  opacity: 80%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.custom-subtitle{
  color: #0B7077;
  opacity: 40%;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;

}