/* Custom styles for the main card */
.itCareerCard {
  background-color: #0B7077;
  border-radius: 15px;
    font-family: 'Montserrat', sans-serif;

}

.card-title{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    margin-bottom: 1rem;
}

/* Custom styles for the subtitle */
.card-text {
  color: #fff;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif !important;
}

/* Custom styles for the apply button */
.custom-orng-btn{
background-color: #FD661F;
  border: none;
  border-radius: 25px;
  padding: 12px 20px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
    font-family: 'Montserrat', sans-serif;

}

@media (max-width: 768px) {
.card-text {
  line-height: 0.9;
}

}