/* skill card grid  */

.cardSection {
    background-image: url('/Landing page.png');
    padding: 70px 10px;
}

.cardContainer {
    padding: 40px 10px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.customCard {
    background-color: #fff;
    /* color: #f0f8ff; */
    border-radius: 20px;
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out
}

.alternateCard {
    background-color: #0B7077;
    /* color: ; */
    border-radius: 20px;
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out
}

.customCard:hover ,.alternateCard:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.3);
}

.customBadge {
    background-color: #0B7077;
    color: #fff !important;
    padding: 12px 17px;
    /* border-radius: 20px; */
    /* font-size: 0.85em; */
    font-weight: bold;
    display: inline;
    font-family: 'Montserrat', sans-serif;
}
.alternateBadge {
    background-color: #E7F1F1;
    color: #0B7077 !important;
    padding: 12px 17px;
    /* border-radius: 20px; */
    /* font-size: 0.85em; */
    font-weight: bold;
    display: inline;
    font-family: 'Montserrat', sans-serif;

}

.cardTitle {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
    font-family: 'Montserrat', sans-serif;

}

.alternateCardTitle {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

}

.cardTools {
    font-size: 0.9rem;
    color: #053236;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;

}

.alternateCardTools {
    font-size: 0.9rem;
    color: #E7F1F1;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;

}

.cardDescription {
    font-size: 0.8rem;
    line-height: 1.6;
    flex-grow: 1;
    color: #6d6d6d;
    font-family: 'Montserrat', sans-serif;

}

.alternateCardDescription {
    font-size: 0.8rem;
    line-height: 1.6;
    flex-grow: 1;
    color: #E7F1F1;
    font-family: 'Montserrat', sans-serif;

}

/* Media Queries */
@media (max-width: 768px) {
.customCard{
    padding: 15px;
}
.alternateCard{
    padding: 15px;
}
.customBadge{
    padding: 10px;
}
.alternateBadge{
    padding: 10px;
}
.cardTitle {
    margin-bottom: 3px;
}
.cardTools, .alternateCardTools {
    margin-bottom: 5px;
}
}