.connectSection {
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif !important;
  padding: 40px;
  /* text-align: center; */
}

.connectTitle {
  font-size: 40px;
  color: #085459;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
}

.connectHighlight {
  color: #FD661F;
}

.connectText {
  font-size: 16px;
  color: #1E1E1E;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif !important;
}
.custom-green-badge{
    background-color: transparent;
    color: #555;
    font-size: 12px;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif !important;
    border: 1px solid #fff;
    display: inline;
    font-weight: 300;
}

.free-card {
  background: #0B7077; /* teal like in image */
  padding: 2rem;
  border-radius: 15px;
  color: white;
  max-width: 500px;
}

.free-card-title {
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 24px;
  color: white;
  font-family: 'Montserrat', sans-serif !important;
}

.form-label {
  color: white;
  font-size: 17px;
  margin-bottom: 0.3rem;
  font-family: 'Montserrat', sans-serif !important;
}

.free-input {
  border-radius: 30px;
  border: none;
  padding: 0.75rem 1rem;
  font-size: 0.95rem;
  font-family: 'Montserrat', sans-serif !important;
  background-color: #D2E6E4;
  color: #fff;
}
/* White placeholder */
.free-input::placeholder,
.phone-input::placeholder,
select.free-input option {
  color: #fff;
  font-family: 'Montserrat', sans-serif !important;

}
.free-input:focus{
  background-color: #D2E6E4;
  color: #000;
  font-family: 'Montserrat', sans-serif !important;

}

/* Phone field */
.free-phone {
  display: flex;
  align-items: center;
  background: #D2E6E4;
  border-radius: 30px;
  padding-left: 0.75rem;
  font-family: 'Montserrat', sans-serif !important;

}

.country-code {
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

.free-btn {
  background-color: #FD661F;
  color: white;
  border-radius: 30px;
  font-size: 1rem;
  padding: 0.75rem;
  transition: background 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif !important;

}

.free-btn:hover {
  background-color: #e55d2b;
}


/* Media Queries */
@media (max-width: 768px) {
  .connectTitle {
    font-size: 32px;
  }

  .connectText {
    font-size: 16px;
  }

  .connectSection {
    padding: 20px;
  }
    .custom-green-badge{
    margin: 4px auto;
    display: inline-block;
  }
    .free-card {
    margin-top: 2rem;
    margin-right: 1rem;
    padding: 1.5rem;
  }

  .free-input {
    font-size: 0.85rem;
  }
  .free-btn {
    font-size: 0.9rem;
  }
}
